POSTGRES_USER=mira
POSTGRES_PASSWORD=password
POSTGRES_DB=miradb

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable
PORT=8080

MIRA_API_URL=http://localhost:8080/api/v1